doctype html
html
    include assets/pug/head.pug
    body
        .page
            blockquote.twitter-tweet(data-cards="hidden" data-lang="ja")
                p(lang="ja" dir="ltr")
                    | ほぉーんひょーんなくなります。<br><br>
                    | 突然のご報告となり申し訳ございません。YouTubeチャンネルは今週中に消える予定なので是非最後に聴いてください。<br><br>
                    | 短い期間でしたが皆さんと過ごした時間は一生の宝物です。今まで応援して頂き本当に本当に有難うございました。
                    a(href="https://t.co/0CzKTHoZqb") | https://t.co/0CzKTHoZqb
                    | &mdash; ほぉーんひょーん ASMR (@phonoyh)
                    a(href="https://twitter.com/phonoyh/status/1079398498716418048") | 2018年12月30日

        .page
            h3 #GoodBye
            p
                | ほぉーんひょーん様の活動終了に伴い、このサイトも放棄されます。<br>
                | ほぉーんひょーん様、お疲れ様でした。そしてありがとうございました。


        .footer
            p このサイトは非公式サイトです
            p 作った人:
                a(href="https://twitter.com/katabame", target="_blank")
                    | @katabame
    script(src="https://platform.twitter.com/widgets.js" charset="utf-8" async)
    script(src="https://twemoji.maxcdn.com/2/twemoji.min.js?11.2")
    script
        | twemoji.parse(document.body);