head
    //
        ソースコードに興味がありますか？こちらをご覧ください https://github.com/katabame/PhonoyH
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="icon", href="favicon.ico")
    title PhonoyH
    style: include ../../ress.css

    link(rel="stylesheet", href="https://unpkg.com/ionicons@4.4.7/dist/css/ionicons.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fredoka+One")
    link(rel="stylesheet", href="assets/css/style.css")
